body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    background: #E2E6E9;
    color: #222;
}

main {
    max-width: 700px;
    margin: 4rem auto;
    padding: 4rem 4rem;
    background-color: #fafafa;
    border-radius: 0.3rem;
}

.profile {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    z-index: 100;

    display: flex;
    align-items: center;
    justify-content: center;
}

.wordmark {
    width: 60px;
}

h1 {
    font-size: 2.5rem;
    margin-bottom: 0.5rem;
    margin-top: 0rem;
}

p {
    font-size: 14pt;
    margin-bottom: 1rem;
}

a {
    color: #4d87b9;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

hr {
    margin: 2rem auto;
    height: 2px;
    background-color: #E2E6E9;
    border-width: 0;
    
}

.link-list {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

.link {
    width: 60px;
    height: 60px;

    color: #000000;
    text-decoration: none;

    box-sizing: border-box;
    border-radius: 50%;

    background-color: #ffffff;
    border: 2px solid #eeeeee;

    transition: 0.3s;

    display: flex;
    align-items: center;
    justify-content: center;
}

.link:hover {
    background-color: #eeeeee;
    border: 2px solid #dddddd;
    transform: scale(1.1);
}

.link-icon {
    width: 30px;
    height: 30px;
}

footer {
    margin-top: 3rem;
    font-size: 0.9rem;
    color: #666;
}